@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.buyStationContainer {
    width: 100%;
    opacity: 100%;
    z-index: 3;
    height: 100%;
    animation: fadeIn 0.3s;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
}